__pycache__
venv
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info
*.idea
*.vscode
*.ipynb_checkpoints
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
*.dist
*.egg
*.whl
*.tar.gz
*.zip
*.rar
*.7z